---
import '../styles/pico.min.css'
import '../styles/global.css'
import HeroSection from '../components/hero_section.astro'
import BenefitsSection from '../components/benefits_section.astro'
---

<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="styles/pic">
		<title>DNA 360</title>
	</head>
	<body class="container">
		<nav>
		  <ul>
			<li><strong>DNA 360</strong></li>
		  </ul>
		  <ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#" role="button">Get Started</a></li>
		  </ul>
		</nav>
		<HeroSection 
			title={"Get your health on the right path"} 
			sub={"Find the answers you’ve been looking for, and get the support you need to feel great again."}
			src={"icons/gut-graphic-1.png"}
		/>
		<BenefitsSection/>
		</body>
</html>
