---
import HeroSection from '../components/hero_section.astro'
import BenefitSection from '../components/benefit_section.astro'
import ImageSection from '../components/img_section.astro'
import HowWeCanHelpSection from '../components/how_we_can_help.astro'
import VideoSection from '../components/video_section.astro'
import ProductSection from '../components/product_section.astro'
import MainLayout from '../layouts/main_layout.astro'
---

<MainLayout>
		<HeroSection 
			title={"Get your health on the right path"} 
			sub={"Find the answers you’ve been looking for, and get the support you need to feel great again."}
			src={"icons/gut-graphic-1.png"}
		/>
		<BenefitSection/>
		<ImageSection 
			title="Personalised plans" 
			sub1={"Rebalance your body and life with food, supplements and lifestyle advice tailored to you. "} 
			sub2={"Our aim is to work with a specialist practitioner to reduce the many common health issues that affect us as we age."}
			src="icons/probiotic.png"
		/>
		<ImageSection 
			title="Ongoing Support " 
			sub1={"Get the emotional support and expertise you need, from our practitioner group sessions to easy-to-understand education."} 
			src="icons/lab-tech-1.png"
		/>
		<HowWeCanHelpSection />
		<h2 id="get_started">Get Started</h2>
		<p>Choose from our range of testing kits</p>
		<ProductSection />

	</MainLayout>
