---
import BenefitCard from './benefit_card.astro'
import data from '../../static/index_data.json'

---
<section>
    <hgroup class="s">
        <h4>We are DNA 360</h4>
        <p>We take a 360° approach for a healthier and happier life.</p>
    <hgroup>
    <div class="features">
    {
        data.benefits.map(({title, desc, icon}) => {
            return (
                <BenefitCard 
                    title={title} 
                    desc={desc} 
                    src={icon}
                />
            )
        })
    }
    </div>

</section>
<style>
    section {
        margin-top: 50px;
        text-align: center;
    }
    .features {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        /* background-color: red; */
    }
</style>
