---
---
<section>
    <hgroup>
        <h4>We are DNA 360</h4>
        <p>We take a 360° approach for a healthier and happier life.</p>
    <hgroup>
        <div class="features">
            <div class="tile">
                <img src="" />

                <hgroup>
                    <h6>Better Digestion</h6>
                    <p>Prevent IBS and leaky gut symptoms.</p>
                <hgroup>
            </div>
        </div>
    <style>
        section {
            margin-top: 50px;
        }

        .features {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            /* background-color: red; */
        }
    </style>
</section>
