---
const {title, sub, src} = Astro.props;
---
<section>
    <div>
    <hgroup>
        <h1>{title}</h1>
        <p>{sub}</p>
    </hgroup>
		<a class="get-started-btn" href="#" role="button">Get Started</a>
    </div>
    <img src={src}/>
</section>
<style>
    section {
        margin-top: 20px;
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr;
    }

    @media (min-width: 1024px) {
        section {
            margin-top: 60px;
            grid-template-columns: 1fr 1fr;
        }
    }

    .get-started-btn {
        width: 100%;
    }
</style>
