
---
---
<section>
    <h3>How we can help</h3>
    <img src="icons/how-we-can-help.png" alt="" />
</section>
<style>
img {
    width: 100%;
}
section {
    margin-top: 60px;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
}
</style>
