---
---
<section>
    
    <h3>How we can help</h3>
    <iframe 
        class="yt-video"
        width="1280" 
        src="https://www.youtube.com/embed/XR1nn_AmJEU" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen
    ></iframe> 
    <img src="icons/how-we-can-help.png" alt="" />
</section>
<style>
    img {
        width: 100%;
        margin-top: 50px;
    }
    .yt-video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
</style>
