---
const {title, sub1,sub2, src} = Astro.props;
---
<section>
    <div>
        <h3>{title}</h3>
        <p>{sub1}</p>
        {sub2 ? <p>{sub2}</p> : null}
    </div>
    <img src={src}/>
</section>
<style>
section {
    margin-top: 60px;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
}
</style>

