---
import '../styles/pico.min.css'
import '../styles/global.css'
import Nav from '../components/nav.astro'

---
<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="styles/pic">
		<title>DNA 360</title>
	</head>
	<body class="container">
		<Nav/>
		<slot /> <!-- your content is injected here -->
	</body>
</html>

